	
<nav id="sidebar">
    <ul class="list-unstyled components mb-5">
        <li class="active">
            <div class="d-flex align-items-center clickType active">
                <fa-icon [icon]="faHomeAlt"></fa-icon>
                <h6 class="fw-bold m-2">Home</h6>
            </div>
            <div class="d-flex align-items-center clickType">
                <fa-icon [icon]="faBook"></fa-icon>
                <h6 class="fw-bold m-2">Album</h6>
            </div>
            <div class="d-flex align-items-center clickType">
                <fa-icon [icon]="faUser"></fa-icon>
                <h6 class="fw-bold m-2">Artist</h6>
            </div>
        </li>
    </ul>
</nav>

